.about-cont {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #3494e6, #ec6ead);
    color: #fff;
}

.about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    /* background-color: transparent; */

}

.about-section,
.section1 {
    background-color: transparent;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease;
    margin-bottom: 30px;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

h1 {
    align-items: center;
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.h3 {
    font-size: 28px;
    color: #333;
    margin-bottom: 15px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: #f9f5f5;
}



/* Styling the welcome section */
.section:first-child {
    text-align: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }
}